.page {
  height: 100vh;
  width: 100vw;
  min-width: 400px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 12% 78% 10%;
  grid-template-areas:
    "Header"
    "Main"
    "Footer";
}
.headerPage {
  grid-area: Header;
  ;
}
.page-main {
  grid-area: Main;
}
.footerPage {
  grid-area: Footer;
}